.nav-item {
    float: left;
    z-index: 9999;
    cursor: pointer;
    position: relative;
}

.nav-item:hover .sub-nav {
    visibility: visible;
    display: inline;
}

.nav {
    background-color: blue;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav:hover {
    background-color: navy;
}

.nav a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.sub-nav {
    display: none;
    background-color: blue;
    color: white;
    margin: 0px;
    z-index: 9999;
    overflow: visible;
    position: absolute;
}

.sub-item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    position: relative;
}

.sub-nav:hover .sub-nav-n {
    visibility: visible;
    display: inline;
}

.sub-nav-n {
    display: none;
    position: absolute;
    background-color: blue;
    top: 0px;
    left: 100%;
    z-index: 9998;
}

.sub-item a {
    color: white;
    text-decoration: none;
}

.sub-item:hover {
    background-color: navy;
}

.sub-item:hover .nav {
    background-color: navy;
}
